server:
  port: ${SERVER_PORT:8083}

spring:
  profiles:
    active:
      - ${SPRING_PROFILES_ACTIVE:prod}
  config:
    import: optional:configserver:${CONFIG_SERVER_URI:http://localhost:8888}

  cloud:
    config:
      label: ${SPRING_CLOUD_CONFIG_LABEL:main}
      fail-fast: ${SPRING_CLOUD_CONFIG_FAILFAST:true}
      retry:
        max-attempts: ${SPRING_CLOUD_CONFIG_RETRY_MAX_ATTEMPTS:6}
        initial-interval: ${SPRING_CLOUD_CONFIG_RETRY_INITIAL_INTERVAL:2000}
        multiplier: ${SPRING_CLOUD_CONFIG_RETRY_MULTIPLIER:1.5}

  main:
    allow-bean-definition-overriding: ${SPRING_MAIN_ALLOW_BEAN_DEFINITION_OVERRIDING:true}

  application:
    name: ${SPRING_APPLICATION_NAME:auth-service}
