version: '3.8'

services:

  # Docker Autoheal Service
  autoheal:
    image: willfarrell/autoheal
    container_name: autoheal
    restart: always
    environment:
      - AUTOHEAL_CONTAINER_LABEL=autoheal
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - microservices-network

  # Zookeeper from Confluent
  zookeeper:
    image: confluentinc/cp-zookeeper
    container_name: zookeeper
    environment:
      ZOOKEEPER_SERVER_ID: 1
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    restart: always
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "2181"]
      interval: 30s
      retries: 15
      start_period: 2m
      timeout: 10s
    networks:
      - microservices-network
    labels:
      - autoheal=true

  # Kafka from Confluent
  kafka:
    image: confluentinc/cp-kafka
    container_name: kafka
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
    depends_on:
      zookeeper:
        condition: service_healthy
    ports:
      - "9092:9092"
    restart: always
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "9092"]
      interval: 30s
      retries: 15
      start_period: 2m
      timeout: 10s
    networks:
      - microservices-network
    labels:
      - autoheal=true


  # Redis
  redis:
    image: redis
    container_name: redis
    ports:
      - "6379:6379"
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      retries: 15
      start_period: 2m
      timeout: 10s
    networks:
      - microservices-network
    labels:
      - autoheal=true


  # Zipkin
  zipkin:
    image: openzipkin/zipkin
    container_name: zipkin
    ports:
      - "9411:9411"
    restart: always
    networks:
      - microservices-network
    labels:
      - autoheal=true


  # Eureka Server
  eureka-server:
    image: pabitrabera2001/eureka-server
    container_name: eureka-server
    environment:
      - SERVER_PORT=8761
      - MANAGEMENT_ZIPKIN_TRACING_ENDPOINT=http://zipkin:9411/api/v2/spans
    depends_on:
      zipkin:
        condition: service_healthy
    ports:
      - "8761:8761"
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8761/actuator/health"]
      interval: 30s
      retries: 15
      start_period: 2m
      timeout: 10s
    networks:
      - microservices-network
    labels:
      - autoheal=true


  # Config Server
  config-server:
    image: pabitrabera2001/config-server
    container_name: config-server
    environment:
      - SERVER_PORT=8888
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=PLAINTEXT://kafka:9092
      - EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE=http://eureka-server:8761/eureka/
      - MANAGEMENT_ZIPKIN_TRACING_ENDPOINT=http://zipkin:9411/api/v2/spans
    depends_on:
      zookeeper:
        condition: service_healthy
      kafka:
        condition: service_healthy
      zipkin:
        condition: service_healthy
      eureka-server:
        condition: service_healthy
    ports:
      - "8888:8888"
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8888/actuator/health"]
      interval: 30s
      retries: 15
      start_period: 2m
      timeout: 10s
    networks:
      - microservices-network
    labels:
      - autoheal=true

  # Auth Service

  auth-service:
    image: pabitrabera2001/auth-service
    container_name: auth-service
    environment:
      - SERVER_PORT=8083
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=PLAINTEXT://kafka:9092
      - CONFIG_SERVER_URI=http://config-server:8888
      - EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE=http://eureka-server:8761/eureka/
      - MANAGEMENT_ZIPKIN_TRACING_ENDPOINT=http://zipkin:9411/api/v2/spans
    depends_on:
      zookeeper:
        condition: service_healthy
      kafka:
        condition: service_healthy
      redis:
        condition: service_healthy
      zipkin:
        condition: service_healthy
      eureka-server:
        condition: service_healthy
      config-server:
        condition: service_healthy
      spring-cloud-gateway:
        condition: service_healthy
    ports:
      - "8083:8083"
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8083/actuator/health"]
      interval: 30s
      retries: 15
      start_period: 2m
      timeout: 10s
    networks:
      - microservices-network
    labels:
      - autoheal=true

  # User Service

  user-service:
    image: pabitrabera2001/user-service
    container_name: user-service
    environment:
      - SERVER_PORT=8084
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=PLAINTEXT://kafka:9092
      - CONFIG_SERVER_URI=http://config-server:8888
      - EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE=http://eureka-server:8761/eureka/
      - MANAGEMENT_ZIPKIN_TRACING_ENDPOINT=http://zipkin:9411/api/v2/spans
    depends_on:
      zookeeper:
        condition: service_healthy
      kafka:
        condition: service_healthy
      redis:
        condition: service_healthy
      zipkin:
        condition: service_healthy
      eureka-server:
        condition: service_healthy
      config-server:
        condition: service_healthy
      spring-cloud-gateway:
        condition: service_healthy
    ports:
      - "8084:8084"
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8084/actuator/health"]
      interval: 30s
      retries: 15
      start_period: 2m
      timeout: 10s
    networks:
      - microservices-network
    labels:
      - autoheal=true

  # Course Service

  course-service:
    image: pabitrabera2001/course-service
    container_name: course-service
    environment:
      - SERVER_PORT=8081
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=PLAINTEXT://kafka:9092
      - CONFIG_SERVER_URI=http://config-server:8888
      - EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE=http://eureka-server:8761/eureka/
      - MANAGEMENT_ZIPKIN_TRACING_ENDPOINT=http://zipkin:9411/api/v2/spans
    depends_on:
      zookeeper:
        condition: service_healthy
      kafka:
        condition: service_healthy
      redis:
        condition: service_healthy
      zipkin:
        condition: service_healthy
      eureka-server:
        condition: service_healthy
      config-server:
        condition: service_healthy
      spring-cloud-gateway:
        condition: service_healthy
    ports:
      - "8081:8081"
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8081/actuator/health"]
      interval: 30s
      retries: 15
      start_period: 2m
      timeout: 10s
    networks:
      - microservices-network
    labels:
      - autoheal=true


  # Instance Service

  instance-service:
    image: pabitrabera2001/instance-service
    container_name: instance-service
    environment:
      - SERVER_PORT=8082
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=PLAINTEXT://kafka:9092
      - CONFIG_SERVER_URI=http://config-server:8888
      - EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE=http://eureka-server:8761/eureka/
      - MANAGEMENT_ZIPKIN_TRACING_ENDPOINT=http://zipkin:9411/api/v2/spans
    depends_on:
      zookeeper:
        condition: service_healthy
      kafka:
        condition: service_healthy
      redis:
        condition: service_healthy
      zipkin:
        condition: service_healthy
      config-server:
        condition: service_healthy
      spring-cloud-gateway:
        condition: service_healthy
    ports:
      - "8082:8082"
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8082/actuator/health"]
      interval: 30s
      retries: 15
      start_period: 2m
      timeout: 10s
    networks:
      - microservices-network
    labels:
      - autoheal=true

  # Spring Cloud Gateway
  spring-cloud-gateway:
    image: pabitrabera2001/spring-cloud-gateway
    container_name: spring-cloud-gateway
    environment:
      - SERVER_PORT=8080
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=PLAINTEXT://kafka:9092
      - CONFIG_SERVER_URI=http://config-server:8888
      - EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE=http://eureka-server:8761/eureka/
      - MANAGEMENT_ZIPKIN_TRACING_ENDPOINT=http://zipkin:9411/api/v2/spans
    depends_on:
      eureka-server:
        condition: service_healthy
      config-server:
        condition: service_healthy
    ports:
      - "8080:8080"
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 30s
      retries: 15
      start_period: 2m
      timeout: 10s
    networks:
      - microservices-network
    labels:
      - autoheal=true



  react-frontend:
    image: pabitrabera2001/course-manager-front-end
    container_name: react-frontend
    depends_on:
      eureka-server:
        condition: service_healthy
      config-server:
        condition: service_healthy
      spring-cloud-gateway:
        condition: service_healthy
      auth-service:
        condition: service_healthy
      user-service:
        condition: service_healthy
      course-service:
        condition: service_healthy
      instance-service:
        condition: service_healthy
    ports:
      - "5173:5173"
    networks:
      - microservices-network


networks:
  microservices-network:
    driver: bridge
