
server:
  port: 8084
spring:
  application:
    name: user-service
  output:
    ansi:
      enabled: ALWAYS
  threads:
    virtual:
      enabled: true
  main:
    allow-circular-references: true

  datasource:
    url: jdbc:h2:mem:user-service
    username: sa
    password: sa
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  h2:
    console:
      path: /h2-console
      enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    registry-fetch-interval-seconds: 2
  instance:
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: 3
    lease-expiration-duration-in-seconds: 5
management:
  endpoints:
    web:
      exposure:
        include: "*"

